<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <title>테스트 페이지 </title>

    <!-- inline CSS 영역-->
    <style th:inline="css" type="text/css">
	        body {
	            margin: 30px;
	            border: 1px solid red;
	        }
	    </style>
</head>

<body>
<div>
    <button id="btnTest">버튼</button>
</div>
</body>
</html>

<script type="text/javascript" th:src="@{axios.js}"></script>